@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Saira', sans-serif;

  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.discp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.discp p {
  margin: 0px;
}

.container {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
  }
}

h1 {
  margin: 0px;

  color: #333;
}

.input-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60%;
  outline: none;
  font-size: 16px;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-card {
  margin-top: 20px;
  background: #f4f9ff;
  border-radius: 10px;
  padding: 15px;
}

.search-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 42px;
  min-width: 100px;
}

.search-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Spinner */
.spinner {
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
